html{
	scroll-behavior:smooth;
}
*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	box-sizing:border-box;
}

body{
	background:#17365D;
	
}
.main{
	width:100%;
	
}
nav{
	background:#0082e6;
	height:80px;
	width:100%;
}
label.logo{
	color:white;
	font-size:35px;
	line-height:80px;
	padding:0 20px;
	font-weight:bold;
}
nav ul{
	float:right;
	margin-right:20px;
}
nav ul li{
	display:inline-block;
	line-height:80px;
	margin:0 5px;
}
nav ul li a{
	color:white;
	font-size:17px;
	text-transform:uppercase;
	padding:12px 13px;
	border-radius:4px;
}
a.active,a:hover{
	background:#1b9bff;
	transition:.5s;
}
.checkbtn{
	font-size:30px;
	 color:white;
	 float:right;
	 line-height:80px;
	 margin-right:40px;
	 cursor:pointer;
	 display:none;
	 
}
.logo a{font-size:40px;color:white;}
.logo a:hover{color:#B8CCE4;background:none;}
.logobar{
	font-family:lucida;
	font-size:40px;
}
#check{
	display:none;
}
@media (max-width: 960px){
	label.logo{
		font-size:30px;
		padding-left:50px;
	}
	nav ul li a{
		font-size:16px;
	}
}
@media (max-width: 1150px){
	.checkbtn{
		display:block;
	}
	nav ul{
		position:fixed;
		width:100%;
		height:100vh;
		background:#2c3e50;
		top:80px;
		left:-100%;
		text-align:center;
		transition:all .5s;
	}
	nav ul li{
		display:block;
		margin:50px 0;
		line-height:20px;
	}
	nav ul li a{
		font-size:18px;
		
	}
	nav a:hover, nav a.active{
		background:none;
		color:#0082e6;
	}
	#check:checked ~ ul{
		left:0;
	}
	
}
section{
	background:url(../img/10d.jpg)no-repeat;
	background-size:cover;
	background-attachment:fixed;
	width:100%;
	height:calc(100vh - 80px);
} 
.top_bar{width:100%;height:382px;background:url(img/update1.jpg)fixed;transform:transition:all 1s;}
.inner_bar:hover{min-width:480px;max-width:1000px;height:450px;left:0;right:0;margin:auto;background:rgba(0,0,0,0.6)fixed;}
.top_bar h4{
	font-size:25px;
	font-family:vardana;
	line-height:30px;
	text-align:center;
	color:#fff;
	padding-top:80px;
}

.top_bar h2{
	margin-top:20px;
	font-size:25px;
	font-family:vardana;
	line-height:30px;
	text-align:center;
	color:#fff;
}
 
.top_bar h1{
	margin-top:60px;
	font-size:40px;
	font-family:vardana;
	line-height:30px;
	text-align:center;
	color:#fff;
	text-shadow:2px 2px #4A50C2;
	font-weight:bold;
}

.top_bar h3{
	font-family:vardana;
	line-height:30px;
	text-align:center;
	color:#fff;
	font-size:20px;
	margin-top:15px;
}
.heding h1{text-align:center;color:white;}

.ourservices{width:100%;height:auto;background:#95B3D7;text-align:center;overflow:hidden;}
.ourservices h1{margin-top:20px;}
.ourservices img{border-radius:100%;}
.imgsetting{width:60px;height:60px;left:0;right:0;margin:0px auto;}
.inner_box {}
.inner_box p{margin:10px;text-align:center;}
.row{text-align:center;}
.row1,.row2,.row3{width:400px;float:left;margin-top:20px;margin-left:40px;}

.nill{border-top:1px solid#fff;width:100%;overflow:hidden;background:#4BACC6;}
.nill h1{text-align:center;padding-top:40px;color:#6B8E23;}
.nill h2{text-align:center;padding-bottom:30px;color:#556B2F;}
.nill h3{text-align:center;color:#556B2F;}
.nill p{text-align:center;color:#556B2F;width:300px;line-height:25px;}
.pic_1{margin-left:35px;float:left;width:400px;}
.pic_2{margin-left:35px;float:left;width:400px;}
.pic_3{margin-left:35px;float:left;width:400px;}

.maincontent{
	width:100%;
	height:auto;
	padding-top:100px;
	padding-bottom:30px;
	overflow:hidden;
	background:none;
}
.maincontent h1{text-align:center;color:#fff;text-shadow:1px 2px 20px#fff;border:2px solid#FFB700;box-shadow:1px 2px 30px#fff;padding:20px;width:430px;margin:auto;overflow:hidden;font-size:35px;}

.topper{width:100%;overflow:hidden;background-color:#17365D;}
.lower{margin:auto;}
.hed{background:#225555;}
.top_1 h2{font-size:25px;color:#fff;margin-left:10px;}
.top_1{width:400px;float:left;border-radius:5px;margin-top:10px;margin-left:40px;}
.top_1{padding-top:30px;text-align:center;overflow:hidden;}
.top_1 h1{color:#fff;font-family:vardana;font-size:35px;line-height:35px;}
.top_1 h3{padding-top:20px;padding-bottom:20px;color:#fff;font-family:vardana;font-size:18px;border-bottom:2px solid #fff;}
.top_1 p{color:white;}
.top_2 h2{font-size:25px;color:#fff;margin-left:10px;}
.top_2{width:400px;float:left;border-radius:5px;margin-top:10px;margin-left:40px;}
.top_2{padding-top:30px;text-align:center;overflow:hidden;}
.top_2 h1{color:#fff;font-family:vardana;font-size:35px;line-height:35px;}
.top_2 h3{padding-top:20px;padding-bottom:20px;color:#fff;font-family:vardana;font-size:18px;border-bottom:2px solid #fff;}
.top_2 p{color:#DC7C4A;}
.top_3 h2{font-size:25px;color:#fff;margin-left:10px;}
.top_3{width:400px;float:left;border-radius:5px;margin-top:10px;margin-left:40px;}
.top_3{padding-top:30px;text-align:center;overflow:hidden;}
.top_3 h1{color:#fff;font-family:vardana;font-size:35px;line-height:35px;}
.top_3 h3{padding-top:20px;padding-bottom:20px;color:#fff;font-family:vardana;font-size:18px;border-bottom:2px solid #fff;}
.top_3 p{color:#26C6DB;}
.mybutton{cursor:pointer;font-style:vardana;width:130px;padding:12px;background-color:#190;border:1px solid gray;font-family:arial;font-size:15px;font-weight:bold;color:#fff;border-radius:8px;cursor:pointer;margin-top:20px;margin-bottom:20px;}
.mybutton:hover{background:#140;transform:transition:all.5s;}
.container{width:100%;}
.container p{width:390px;padding:20px;left:0;right:0;margin:auto;margin-top:20px;margin-bottom:20px;font-family:vardana;font-size:35px;font-weight:bold;text-shadow:1px 2px 20px#fff;border:2px solid#FFB700;box-shadow:1px 2px 30px#fff;color:white;}
.content{padding-top:10px;width:auto;}
.content img{box-sizing:border-box;margin-left:40px;border-radius:10px;cursor:pointer;margin-top:3px;transform:transition:all.5s;}
.content img:hover{transform:rotate(0deg) scale(1.1) skew(0deg) translate(0px);}
.top p{padding-top:10px;padding-bottom:20px;color:#4D6B8B;margin:10px;font-size:20px;color:#fff;}

.footer_navigation h2{padding:10px;}
.footer_navigation{
	float:right;
	width:auto;
	overflow:hidden;
	text-align:center;
	margin-right:50px;
}
.footer_navigation ul{
	list-style:none;
	margin:0;
	padding:0;
}
.footer_navigation ul li{
	float:left;
	padding:10px;
}
.footer_navigation ul li a{
	text-decoration:none;
	color:#909090;
	font-size:20px;
}
.footer_navigation ul li a:hover{
	color:#95B3D7;
	background:none;
	border-bottom:3px solid#95B3D7;
}
#footer_nav h2{
	border-bottom:1px solid gray;
	font-size:28px;
	padding:10px;
}
#footer_nav{
	float:left;
	width:200px;
	overflow:hidden;
	text-align:center;
	background:#0c0c0c;
	/* box-shadow:1px 1px 1px 1px #5B5B5F; */
	padding-bottom:10px;
	margin:10px;
}
#footer_nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
#footer_nav ul li{
	float:none;
	padding:7px;
}
#footer_nav ul li a{
	text-decoration:none;
	color:#909090;
	font-size:17px;
}
#footer_nav ul li a:hover{
	color:#fff;
	background:none;
	
}
.Social_nav{padding-bottom:10px;width:auto;float:right;margin-right:70px;text-align:center;}
.Social_nav img{background:#0c0c0c;border-radius:30px;margin:10px;padding:10px;display:block;float:left;transition:all .3s;}
.Social_nav img:hover{transform:rotate(0deg) scale(1.1) skew(0deg) translate(0px);box-shadow:1px 1px 5px 5px #494429;}
.footer h2{color:#909090;}
.footer{
	width:100%;
	background:#000;
	color:#fff;
	font-size:18px;
	display:block;
	overflow:hidden;
	padding-left:20px;
	padding-top:30px;
	
}
.bottom{padding:20px;font-size:20px;text-align:center;color:gray;background:black;}
.upbtn{
	position:fixed;
	width:30px;
	height:30px;
	background:#27ae60;
	bottom:18px;
	right:10px;
	text-decoration:none;
	line-height:30px;
	text-align:center;
	color:white;
	font-size:20px;
}
