html{
	scroll-behavior:smooth;
}
*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	box-sizing:border-box;
}

body{
	background:#17365D;
}
.main{width:100%;}
nav{
	background:#0082e6;
	height:80px;
	width:100%;
}
label.logo{
	color:white;
	font-size:35px;
	line-height:80px;
	padding:0 20px;
	font-weight:bold;
}
nav ul{
	float:right;
	margin-right:20px;
}
nav ul li{
	display:inline-block;
	line-height:80px;
	margin:0 5px;
}
nav ul li a{
	color:white;
	font-size:17px;
	text-transform:uppercase;
	padding:12px 13px;
	border-radius:4px;
}
a.active,a:hover{
	background:#1b9bff;
	transition:.5s;
}
.checkbtn{
	font-size:30px;
	 color:white;
	 float:right;
	 line-height:80px;
	 margin-right:40px;
	 cursor:pointer;
	 display:none;
	 
}
.logo a{font-size:40px;color:white;}
.logo a:hover{color:#B8CCE4;background:none;}
.logobar{
	font-family:lucida;
	font-size:40px;
}
#check{
	display:none;
}
@media (max-width: 960px){
	label.logo{
		font-size:30px;
		padding-left:50px;
	}
	nav ul li a{
		font-size:16px;
	}
}
@media (max-width: 1150px){
	.checkbtn{
		display:block;
	}
	nav ul{
		position:fixed;
		width:100%;
		height:100vh;
		background:#2c3e50;
		top:80px;
		left:-100%;
		text-align:center;
		transition:all .5s;
	}
	nav ul li{
		display:block;
		margin:50px 0;
		line-height:20px;
	}
	nav ul li a{
		font-size:18px;
		
	}
	nav a:hover, nav a.active{
		background:none;
		color:#0082e6;
	}
	#check:checked ~ ul{
		left:0;
	}
	
}
section{
	background:url(../img/11d.jpg)no-repeat;
	background-size:cover;
	background-attachment:fixed;
	width:100%;
	height:calc(100vh - 80px);
}
.top_bar{width:100%;height:382px;background:url(img/update1.jpg)fixed;padding-top:50px;}
.top_bar h4{
	font-size:25px;
	font-family:vardana;
	line-height:30px;
	text-align:center;
	color:#fff;
}

.top_bar h2{
	margin-top:20px;
	font-size:25px;
	font-family:vardana;
	line-height:30px;
	text-align:center;
	color:#fff;
}
 
.top_bar h1{
	margin-top:60px;
	font-size:40px;
	font-family:vardana;
	line-height:30px;
	text-align:center;
	color:#fff;
	text-shadow:2px 2px #4A50C2;
	font-weight:bold;
}

.top_bar h3{
	font-family:vardana;
	line-height:30px;
	text-align:center;
	color:#fff;
	font-size:20px;
	margin-top:15px;
}

.heding h1{text-align:center;color:white;}

.ourservices{width:100%;height:auto;background:#95B3D7;text-align:center;overflow:hidden;}
.ourservices h1{margin-top:20px;}
.ourservices img{border-radius:100%;}
.imgsetting{width:60px;height:60px;left:0;right:0;margin:0px auto;}
.inner_box {}
.inner_box p{margin:10px;text-align:center;}
.row{text-align:center;}
.row1,.row2,.row3{width:400px;float:left;margin-top:20px;margin-left:40px;}

.nill{border-top:1px solid#fff;width:100%;overflow:hidden;background:#4BACC6;}
.nill h1{text-align:center;padding-top:40px;color:#6B8E23;}
.nill h2{text-align:center;padding-bottom:30px;color:#556B2F;}
.nill h3{text-align:center;color:#556B2F;}
.nill p{text-align:center;color:#556B2F;width:300px;line-height:25px;}
.pic_1{margin-left:35px;float:left;width:400px;}
.pic_2{margin-left:35px;float:left;width:400px;}
.pic_3{margin-left:35px;float:left;width:400px;}

.team_aria{margin:auto;overflow:hidden;width:100%;height:auto;text-align:center;padding-top:50px;padding-bottom:50px;}
.team_aria p{font-family:vardana;}
.team_box{left:0;right:0;margin:auto;width:100%;}
.two{padding:30px;color:white;}
.name_box{padding:20px;float:left;min-width:400px;border-radius:10px;margin:5px;margin-left:35px;padding-top:30px;background:#225555;}
.name_box img{border-radius:100px;cursor:pointer;transition: all 2s;}
.name_box img:hover{transform:rotate(0deg) scale(1.5) skew(0deg) translate(0px);}
.name_box p{color:white;}
.name_box h3{color:white;}
.content_imgs{width:200px;margin:auto;}
.about{margin-bottom:10px;margin-top:20px;}
.about_me{padding:10px;}
.about a{color:white;background:#17365D;border:1px dotted#ddd;}
.about a:hover{background:#3C3229;}
.content_imgs img{display:block;overflow:hidden;float:left;margin:15px;}
.hurray{overflow:hidden;width:100%;background:url(../img/thumb-1920-85305.jpg)fixed;}
.contact{
	width:480px;height:auto;overflow:hidden;padding-bottom:10px;box-shadow:1px 0px 15px #333;left:0;right:0;margin:auto; }
.contact h1{
	width:300px;
	margin-left:50px;
	margin-top:30px;
	padding:15px;
	font-family:vardana;
	font-weight:bold;
	color:#9A7A51;
	border-bottom:5px solid #9A7A51;
	text-align:center;
}
#text{
	font-size:22px;
	line-height:35px;
	width:300px;
	margin-left:70px;
	margin-top:20px;
	text-shadow:1px -1px 1px #000 ;
	color:#CDCEC9;
	
}
#text input{
	width:230px;
	height:35px;
	box-shadow:0px 0px 5px #333;
	border:none;
}
#text_rr{
	width:300px;
	text-shadow:1px -1px 1px #000 ;
	color:#CDCEC9;
	font-size:22px;
	line-height:35px;
	margin-left:70px;
}
#text_rr input{
	width:230px;
	height:100px;
	box-shadow:0px 0px 10px #333;
	border:none;
}
#text_ee{
	
	width:50px;
	float:right;
	margin-right:100px;
	margin-top:-45px;
	transform:transition:all 0.5s;
}
#text_ee input{
	cursor:pointer;
	font-family:tecton pro;
	font-size:15px;
	padding:10px 20px;
	background:#82BC13;
	border-radius:5px;
	border:none;
}
#text_ee :hover{
	transform:rotate(0deg) scale(1.1) skew(0deg) translate(0px);
	background:#F46D11;
	color:#fff;
}
.communication{
	width:100%;
}
.last_1{
	padding-top:30px;
	max-width:1000px;
	margin:auto;
	padding-left:100px;
}
.last_1 p{color:gray;padding-bottom:50px;}
#sidebar{
overflow:hidden;
float:left;
max-width:480px;
margin-top:30px;

}
#sidebar h1{
	width:300px;
	font-size:25px;
	color:#2E8B57;
	padding:15px;
	padding-bottom:15px;
	left:0;
}

.footer_navigation h2{padding:10px;}
.footer_navigation{
	float:right;
	width:auto;
	overflow:hidden;
	text-align:center;
	margin-right:50px;
}
.footer_navigation ul{
	list-style:none;
	margin:0;
	padding:0;
}
.footer_navigation ul li{
	float:left;
	padding:10px;
}
.footer_navigation ul li a{
	text-decoration:none;
	color:#909090;
	font-size:20px;
}
.footer_navigation ul li a:hover{
	color:#95B3D7;
	background:none;
	border-bottom:3px solid#95B3D7;
}
#footer_nav h2{
	border-bottom:1px solid gray;
	font-size:28px;
	padding:10px;
}
#footer_nav{
	float:left;
	width:200px;
	overflow:hidden;
	text-align:center;
	background:#0c0c0c;
	/* box-shadow:1px 1px 1px 1px #5B5B5F; */
	padding-bottom:10px;
	margin:10px;
}
#footer_nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
#footer_nav ul li{
	float:none;
	padding:7px;
}
#footer_nav ul li a{
	text-decoration:none;
	color:#909090;
	font-size:17px;
}
#footer_nav ul li a:hover{
	color:#fff;
	background:none;
	
}
.Social_nav{padding-bottom:10px;width:auto;float:right;margin-right:70px;text-align:center;}
.Social_nav img{background:#0c0c0c;border-radius:30px;margin:10px;padding:10px;display:block;float:left;transition:all .3s;}
.Social_nav img:hover{transform:rotate(0deg) scale(1.1) skew(0deg) translate(0px);box-shadow:1px 1px 5px 5px #494429;}
.footer h2{color:#909090;}
.footer{
	width:100%;
	background:#000;
	color:#fff;
	font-size:18px;
	display:block;
	overflow:hidden;
	padding-left:20px;
	padding-top:30px;
	
}
.bottom{padding:20px;font-size:20px;text-align:center;color:gray;background:black;}

.upbtn{
	position:fixed;
	width:30px;
	height:30px;
	background:#27ae60;
	bottom:18px;
	right:10px;
	text-decoration:none;
	line-height:30px;
	text-align:center;
	color:white;
	font-size:20px;
}
